.main
{
	border: 1px solid #000;
	margin: auto;
	width: 1000px;
	display: inline-block;
}

.column
{
	opacity: 0.3;
	width: 333px;
	height: inherit;
	border: 1px solid #000;
	/*display: inline-block;*/
	background: grey;
	box-sizing: border-box;	/*определяет, как браузер будет считать размер элемента*/
	float: left;/*добавляем обтекание (выводим из общего потока)*/
}


.column:last-child
{
	width: 334px;
}

.row
{
	border: 1px solid #000;
	height: 250px;
	background-color: yellow;
	width: 100px;
	float: left;/*добавляем обтекание (выводим из общего потока)*/
	overflow: hidden;	/*спрятать переполнение - не показывать контент, выходящий за пределы блока*/

}

.row2
{
	border: 1px solid #000;
	height: 200px;
	background-color: blue;
	opacity: .5;
	/*Заставляет блок, выведенный из потока, увидеть себя*/
	overflow: hidden;/*спрятать переполнение - не показывать контент, выходящий за пределы блока*/
}

header, footer
{
	height: 100px;
	background-color: green;

}

footer:before
{
	display: table;
}

footer
{
	background-color: red;
}