.main
{
	position: relative;
	width: 1000px;
	margin: auto;
}

.dresses
{
	-webkit-margin-start: 0;
	list-style-type: none;
	position: relative;
	margin: auto;
}

.dresses>li
{
	position: absolute;
	cursor: pointer;
	border: 2px solid rgb(149, 0, 2);
	border-radius: 10px;
	overflow: hidden;
	width: 190px;
	height: 275px;
	transition: 10000ms;
}

.dresses>li:first-of-type
{
	top: 0;
	left: 0;
}

.dresses>li:nth-of-type(2)
{
	top: 0;
	left: 200px;
}

.dresses>li:nth-of-type(3)
{
	top: 0;
	left: 400px;
}

.dresses>li:nth-of-type(4)
{
	top: 0;
	left: 600px;
}

.dresses>li:nth-of-type(5)
{
	top: 290px;
	left: 0;
}

.dresses>li:nth-of-type(6)
{
	top: 290px;
	left: 200px;
}

.dresses>li:nth-of-type(7)
{
	top: 290px;
	left: 400px;
}

.dresses>li:nth-of-type(8)
{
	top: 290px;
	left: 600px;
}

.dresses>li>img
{
	position: absolute;
	width: 190px;
	height: 275px;
}

.check_mark
{
	width: 30px;
	height: 30px;
	background-image: url(../img/checked.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 1;
}

.selected_items
{
	position: relative;
	top: 600px;
	width: 792px;
	min-height: 300px;
	border: 2px solid rgb(149, 0, 2);
	border-radius: 10px;
}

.selected_items>ul
{
	-webkit-margin-start: 0;
	list-style-type: none;
	padding-left: 0;
}

.selected_items>ul>li
{
	display: inline-block;
}

.selected_items>ul>li>img
{
	width: 190px;
	height: 275px;
}