.green
{
	width: 500px;
	height: 300px;
	position: relative;
	background-color: green;
	top: 50px;
	left: 20px;
}

.red
{
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: red;
	top: 50px;
	left: 20px;
	z-index: 1;
}