.game_field
{
    width: 1000px;
    height: 500px;
    background-image: url("../img/grass.jpg");
    background-size: contain;
    cursor: url("../img/lips.png"), pointer;
    border: 2px solid green;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.score, .time
{
    color: yellow;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
}

.score
{
    left: 10px;
}

.time
{
    left: 860px;
}
.score>span, .time>span
{
    color: white;
}

.smile
{
    content: url("../img/not_kissed.png");
    visibility: hidden;
    position: absolute;
    width: 90px;
    height: 103px;
}

.game_field>input
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    font-size: 3em;
    color: #008000;
    cursor: pointer;
    border: 0;
    -webkit-box-shadow: 10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    background: #fefcea; /* Old browsers */
    background: radial-gradient(ellipse at center, #fefcea 0%, #ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1fc28',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-top: -75px;
    left: 50%;
    right: 50%;
    margin-left: -75px;
}

.game_field>input:last-of-type
{
    width: 60px;
    height: 30px;
    border-radius: 10%;
    font-size: 1em;
    top: 450px;
    left: 910px;
    margin: 0;
}

.game_over, .about
{
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    -webkit-box-shadow: 10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         10px 2px 16px 0 rgba(50, 50, 50, 0.75);
    background: #fefcea; /* Old browsers */
    background: radial-gradient(ellipse at center, #fefcea 0%, #ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1fc28',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-size: 1.5em;
    color: #008000;
    display: none;
}

.about
{
    line-height: 1em;
    text-align: center;
    width: 100px;
    height: 35px;
    top: 400px;
    left: 890px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
    background: radial-gradient(ellipse at center, #fefcea 0%, #fbff75 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.game_over>span
{
    color: red;
    font-size: 3em;
    vertical-align: middle;
}