body
{
	font-family: Arial;
}

.main
{
	margin: auto;
	width: 1000px;
}


.main>img:first-child
{
	width: 100%;
	height: 100%;
}

.header
{
font-weight: bolder;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 3px;
padding-left: 37%;
padding-right: 24%;
font-size: 1.2em;
}

.season
{
font-weight: bold;
border: 1px solid black;
}

.person
{
font-size: 0.8em;
}


.main>form>input:first-of-type
{
width: 81.5%;
}

.main>form>input:nth-of-type(2)
{
width: 81%;
}

.main>form>input:nth-of-type(3)
{
width: 15%;
}

.main>form>input:nth-of-type(4)
{
width: 30%;
}

.main>form>input:nth-of-type(5)
{
width: 30%;
}

.main>form>input:nth-of-type(6)
{
width: 93.5%;
}

.main>form>input:nth-of-type(7)
{
width: 90.2%;
}

.main>form>input:nth-of-type(8)
{
width: 81.4%;
}

.main>form>input:nth-of-type(9)
{
width: 89%;
}

.main>form>input:nth-of-type(10)
{
width: 100%;
}

.main>form>input:nth-of-type(11)
{
width: 93%;
}

.main>form>input:nth-of-type(12)
{
width: 93%;
}

.main>form>fieldset:nth-of-type(2)>input:nth-of-type(1)
{
width: 86%;
}

.main>form>fieldset:nth-of-type(2)>input:nth-of-type(2)
{
width: 82.5%;
}

.main>form>fieldset:nth-of-type(2)>input:nth-of-type(3)
{
width: 82%;
}

.main>form>fieldset:nth-of-type(2)>input:nth-of-type(4)
{
width: 75%;
}

.main>form>fieldset:nth-of-type(2)>input:nth-of-type(5)
{
width: 70.5%;
}

.question_st_form
{
font-weight: bold;
font-size: 1.1em;
}

.study_form, .results
{
font-weight: bold;
font-size: 0.85em;
}

.question
{
font-weight: bold;
}

.mgr_name
{
	background: grey;
	color: white;
	font-size: 1em;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
}