@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

.main{
    position: relative;
    margin: auto;
    width: 1000px;
}
table.month{
    border-collapse: collapse;
    width: 1000px;
}

table.month>tbody > tr > td{
    border: 1px solid #807e75;
    width: 100px;
    height: 100px;
    font-family: 'Coming Soon', cursive;
    vertical-align: top;
}

table.month,
table.month tr:not(:first-of-type),
table.month tr:not(:first-of-type)>td,
table.month tr:not(:first-of-type)>td>span
{
    display: none;
}

table.month tr:not(:first-of-type)>td
{
    position: relative;
    padding: 0;
}

table.month tr:not(:first-of-type)>td>span
{
    position: absolute;
}

table.month tr:not(:first-of-type)>td>span:last-of-type
{
    bottom: 3px;
    left: 5px;
}

form[name='month_year_chiose']{
    margin:auto;
    width: 300px;
    padding: 0 0 20px 0;
}

form[name='month_year_chiose'] tr {
    height: 50px;
    vertical-align: middle;

}

form[name='month_year_chiose'] input[name='year']{
    width: 70px;
    font-family: 'Coming Soon', cursive;
    height: 24px;
    text-align: center;
}

form[name='month_year_chiose'] select{
    font-family: 'Coming Soon', cursive;
    height: 30px;
    text-align: center;
}

form[name='month_year_chiose'] input[type="button"] {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 1.2em;
    font-family: 'Coming Soon', cursive;
    background-color: rgba(108, 162, 237, 0.4);
    border-radius: 50px;
    border: none;
    box-shadow: none;
    transition: 1s;
}

form[name='month_year_chiose'] input[type="button"]:hover{
    width: 40px;
    height: 40px;
    background-color: #6ca2ed;
    transition: 1s;
}

form[name='month_year_chiose'] td:first-of-type{
    width: 50px;
}
form[name='month_year_chiose'] td:nth-of-type(4){
    width: 50px;
    text-align: right;
}

.overlay,
.all_day_events_overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(157, 164, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.add_event,
.all_day_events
{
    position: fixed;
    width: 500px;
    height: 300px;
    border-radius: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    z-index: 1001;
    overflow: auto;
    text-align: left;
    padding: 5px;
}

.day_event{
    background-color: #6ca2ed;
    margin: 10px;
    padding: 3px;
    height: 20px;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 5px;
    width: 400px;
}

.more_link{
    position: absolute;
    top: 76px;
    right: 10px;
    font-size: 0.7em;
    cursor: pointer;
    font-family: 'Coming Soon', cursive;
    color: #6ca2ed;
    text-decoration: underline;
    display: block;
}

.add_event>span{
    font-weight: bold;
}

.add_event>img,
.all_day_events>img
{
    position: fixed;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: 255px;
}

.add_event form{
    margin: 30px 0 0 100px;
}

.add_event form>input[type="submit"]{
   width: 100px;
    height: 30px;
    margin: 10px 0 0 165px;
}

.month tr:first-of-type
{
    text-align: center;

}

.month tr:first-of-type>td{
    height: 50px;
    background-color: rgba(108, 162, 237, 0.4);
}


form[name="add_event"] textarea
form[name="edit_form"] textarea{
    width: 168px;
}
form[name="add_event"] input,
form[name="edit_form"] input{
    width: 170px;
}

form[name="add_event"] label,
form[name="edit_form"] label{
    font-family: 'Coming Soon', cursive;
}

input[type="button"]{
    outline: none;
}

.button_add,
#about{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: white;
    font-family: 'Coming Soon', cursive;
    background-color: rgba(108, 162, 237, 0.4);
    transition: 1s;
    position: absolute;
    top: -80px;
    border: none;
    box-shadow: none;
}

.button_add{
    right: 12px;
    font-size: 3em;
}

#about
{
    left: 12px;
    font-size: 1em;
}

#author{
    display: none;
    position: absolute;
    top: -70px;
    left: 110px;
    font-size: 0.8em;
    font-family: 'Coming Soon', cursive;
    text-align: center;
}

.button_add:hover,
#about:hover{
    width: 80px;
    height: 80px;
    background-color: #6ca2ed;
    transition: 1s;
}

.button_add:hover{
    font-size: 3.5em;
}

#about:hover{
    font-size: 1.5em;
}

div.event_start,
div.event_middle,
div.event_end,
div.event_single{
    background-color: #6ca2ed;
    height: 20px;
    position: absolute;
    vertical-align: top;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    /*padding-left: 10px;*/
    cursor: pointer;
    z-index: 5;
}

div.event_start{
    border-radius: 5px 0 0 5px;
}

div.event_middle{
    border-radius: 0;
}

div.event_end{
    border-radius: 0 5px 5px 0;
}

div.event_single{
    border-radius: 5px;
}

div.about{
    border: 1px solid cornflowerblue;
    font-family: 'Coming Soon', cursive;
    background-color: rgba(108, 162, 237, 0.1);
    width: 100px;
    min-height: 20px;
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.resizable-helper{
    border: 2px dotted blue;
}

.event_control_elements{
    position: absolute;
    right: 20px;
    top: 0;
    height: 25px;
    width: 70px;
    display: none;

}
.event_control_elements>img{
    width: 15px;
    height: 15px;
    position: absolute;
    transition: 1s;
}

.event_control_elements>img:nth-of-type(1){
    left: 0;
}

.event_control_elements>img:nth-of-type(2){
    left: 25px;
}

.event_control_elements>img:nth-of-type(3){
    left: 50px;
}

.event_control_elements>img:hover{
    height: 20px;
    width: 20px;
    transition: 1s;
}
