@font-face {
  font-family: 'Glasgow-Medium';
  src: url('../fonts/Glasgow-Medium.eot');
  src: url('../fonts/Glasgow-Medium.woff2') format('woff2'),
	  url('../fonts/Glasgow-Medium.woff') format('woff'),
       url('../fonts/Glasgow-Medium.ttf') format('truetype'),
       url('../fonts/Glasgow-Medium.svg#Glasgow-Medium') format('svg'),
       url('../fonts/Glasgow-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterstatePlus-Bold';
  src: url('../fonts/InterstatePlus-Bold.eot');
  src: url('../fonts/InterstatePlus-Bold.woff2') format('woff2'),
       url('../fonts/InterstatePlus-Bold.woff') format('woff'),
       url('../fonts/InterstatePlus-Bold.ttf') format('truetype'),
       url('../fonts/InterstatePlus-Bold.svg#InterstatePlus-Bold') format('svg'),
       url('../fonts/InterstatePlus-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot');
  src: url('../fonts/Georgia.woff2') format('woff2'),
       url('../fonts/Georgia.woff') format('woff'),
       url('../fonts/Georgia.ttf') format('truetype'),
       url('../fonts/Georgia.svg#Georgia') format('svg'),
       url('../fonts/Georgia.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('../fonts/Georgia Italic.eot');
  src: url('../fonts/Georgia Italic.woff2') format('woff2'),
       url('../fonts/Georgia Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Italic';
  src: url('../fonts/Georgia-Italic.woff') format('woff'),
       url('../fonts/Georgia-Italic.ttf') format('truetype'),
       url('../fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg'),
       url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg'),
       url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.woff') format('woff'),
       url('../fonts/ArialMT.ttf') format('truetype'),
       url('../fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial';
  src: url('../fonts/arial.eot');
  src: url('../fonts/arial.woff2') format('woff2'),
       url('../fonts/arial.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'InterstatePlus-Regular';
  src: url('../fonts/InterstatePlus-Regular.woff') format('woff'),
       url('../fonts/InterstatePlus-Regular.ttf') format('truetype'),
       url('../fonts/InterstatePlus-Regular.svg#InterstatePlus-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterstatePlus-Regular_24182';
  src: url('../fonts/InterstatePlus-Regular_24182.eot');
  src: url('../fonts/InterstatePlus-Regular_24182.woff2') format('woff2'),
       url('../fonts/InterstatePlus-Regular_24182.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicLT-Medium';
  src: url('../fonts/FranklinGothicLT-Medium.eot');
  src: url('../fonts/FranklinGothicLT-Medium.woff2') format('woff2'),
       url('../fonts/FranklinGothicLT-Medium.woff') format('woff'),
       url('../fonts/FranklinGothicLT-Medium.ttf') format('truetype'),
       url('../fonts/FranklinGothicLT-Medium.svg#FranklinGothicLT-Medium') format('svg'),
       url('../fonts/FranklinGothicLT-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




body
{
	background-image: url(../img/background_min.png);
}

.main
{
	width: 1000px;
	margin: auto;
}

.header
{
	width: 1000px;
	height: 179px;
	position: relative;
}

body > div > div:nth-child(2)
{
	font-size: 39px;
	font-family: "Glasgow-Medium";
	color: rgb(254, 254, 254);
	line-height: 1.2;
	text-align: left;
	position: absolute;
	left: 88px;
	top: 80.6px;
	z-index: 145;
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text;
	color: transparent;
}

body > div > div:nth-child(3)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #a39b82;
	font-style: italic;
	line-height: 1.5;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 156px;
	top: 124px;
	width: 172px;
	height: 14px;
	z-index: 111;
}

body > div > div:nth-child(4)
{
	font-size: 17px;
	font-family: "arial";
	font-weight: bold;
	color: rgb(237, 237, 237);
	line-height: 1.2;
	position: absolute;
	left: 396px;
	top: 33px;
	z-index: 103;
	background: linear-gradient(#420011, #6d0024);  /* подробнее про градиенты */ 
	-webkit-background-clip: text;  /* подробнее про background-clip */ 
	color: transparent;
}

body > div > div:nth-child(5)
{
	position: absolute;
	left: 396.92px;
	top: 58.689px;
	width: 258px;
	height: 73px;
	z-index: 108;
}

body > div > div:nth-child(5) > p
{
	font-size: 11px;
	font-family: "Georgia";
	color: rgb(43, 94, 94);
	font-style: italic;
	text-decoration: underline;
	line-height: 1.636;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
	margin-top: 5px;
	margin-bottom: 5px;
}

body > div > form > div
{
	width: 196px;
	border: none;
	height: 33px;
	position: absolute;
	left: 713px;
	top: 36px;
	z-index: 89;
	border-radius: 5px;
	box-shadow: 2px 2px 17px -3px rgba(0,0,0,0.2);
}


body > div.main > form > div > input[type="search"]:nth-child(1)
{
	background-image: url("../img/search.png");
	background-size: 100%;
	border: none;
	outline: none;
	-webkit-appearance: none;
	width: 196px;
	height: 33px;
	vertical-align: middle;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 14px;
	font-family: "Georgia-Italic";
	font-size: 12px;
	color: rgb(139, 139, 139);
}

body > div > form > div > input[type="submit"]:nth-child(2)
{
	width: 30px;
	height: 33px;
	border: none;
	background: url(../img/looking_glass.png) no-repeat 50% 50%;
	position: absolute;
	left: 165px;
	top: 0px;
}

body > div > div:nth-child(7)
{
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(167, 167, 167);
  font-style: italic;
  line-height: 1.364;
  text-align: right;
  position: absolute;
  left: 704.843px;
  top: 87.689px;
  width: 194px;
  height: 39px;
  z-index: 97;
}

.menu
{
	background-image: url("../img/menu_bg.png");
	width: 825px;
	height: 55px;
	position: absolute;
	left: 84px;
	top: 178px;
	z-index: 84;
}

body > div > div.menu > div
{
	height: 54px;
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Medium";
	color: rgb(237, 237, 237);
	line-height: 1.2;
	text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.5);
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

body > div > div.menu > div:hover
{
	cursor: pointer;
}

body > div > div.menu > div:active
{
	background-image: url("../img/menu_active_bg.png");
	box-shadow:
	-23px 0 20px -23px rgba(0, 0, 0, 0),
	23px 0 20px -23px rgba(0, 0, 0, 0);
	cursor: pointer;
}

body > div > div.menu > div:nth-child(1)
{
	width: 126px;
}

body > div > div.menu > div:nth-child(2)
{
	width: 137px;
}

body > div > div.menu > div:nth-child(3)
{
	width: 96px;
}

body > div > div.menu > div:nth-child(4)
{
	width: 102px;
}

body > div > div.menu > div:nth-child(5)
{
	width: 92px;
}

.swiper-slide 
{
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-container 
	{
		width: 824px;
		height: 243px;
		left: 84px;
		top: 235px;
		margin: 0;
		position: absolute;
	}	

.swiper-pagination
{
	position: absolute;
	top: 310px;
	width: 100%;
	margin: auto;
}

.main>img:first-of-type
{
	position: absolute;
	left: 123px;
	top: 253px;
	z-index: 157;
}

body > div > p:nth-child(14)
{
	background-color: #000000;
	opacity: 0.902;
	font-size: 49px;
	font-family: "Glasgow-Medium";
	color: rgb(254, 254, 254);
	line-height: 1.2;
	text-align: left;
	position: absolute;
	left: 159px;
	top: 335.1px;
	z-index: 148;
	padding-right: 10px;
	padding-left: 50px;
	margin: 0;
}

body > div > p:nth-child(15)
{
	background-color: #000000;
	opacity: 0.902;
	font-size: 12px;
	font-family: "Georgia";
	color: #a39b82;
	font-style: italic;
	line-height: 1.5;
	position: absolute;
	left: 186px;
	top: 392.843px;
	width: 171px;
	height: 13px;
	z-index: 112;
	margin: 0;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-top: 2px;
	padding-right: 10px;
}

body > div > div:nth-child(16)
{
	background-image: url("../img/vine1.jpg");
	position: absolute;
	left: 84px;
	top: 520px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

/*Text with black line*/
.main > div:nth-child(16) > p:first-of-type, 
.main > div:nth-child(17) > p:first-of-type,
body > div > div:nth-child(18) > p:nth-child(1),
body > div > div:nth-child(20) > p:nth-child(1),
body > div > div:nth-child(21) > p:nth-child(1),
body > div > div:nth-child(22) > p:nth-child(1),
body > div > div:nth-child(22) > p:nth-child(2)
{
	background-color: #000000;
	opacity: 0.902;
	font-size: 18px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	position: absolute;
	z-index: 155;
	margin: 0;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main > div:nth-child(16) > p:first-of-type
{
	left: 56px;
}

/*Black circle*/
.main > div:nth-child(16) > img, 
body > div > div:nth-child(17) > img,
body > div > div:nth-child(18) > img,
body > div > div:nth-child(20) > img,
body > div > div:nth-child(21) > img,
body > div > div:nth-child(22) > img
{
	position: absolute;
	left: 203px;
	top: 107px;
	z-index: 73;
}

/*25*/
.main > div:nth-child(16) > p:nth-of-type(2), 
.main > div:nth-child(17) > p:nth-of-type(2),
body > div > div:nth-child(18) > p:nth-child(3),
body > div > div:nth-child(20) > p:nth-child(3),
body > div > div:nth-child(21) > p:nth-child(3),
body > div > div:nth-child(22) > p:nth-child(4)
{
	position: absolute;
	left: 210px;
	top: 102px;
	z-index: 157;
	font-size: 9px;
	font-family: "InterstatePlus-Regular";
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.2;
}


body > div > div:nth-child(17)
{
	background-image: url("../img/vine2.jpg");
	position: absolute;
	left: 84px;
	top: 659px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

.main > div:nth-child(17) > p:first-of-type
{
	left: 90px;
	top: 0px;
	display: table-cell;
}

.main > div:nth-child(17) > p > img
{
	vertical-align: middle;
}


body > div > div:nth-child(18)
{
	background-image: url("../img/vine3.jpg");
	position: absolute;
	left: 84px;
	top: 798px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

body > div > div:nth-child(18) > p:nth-child(1)
{
	left: 89px;
}

body > div > div:nth-child(19)
{
	background-color: #ffffff;
	position: absolute;
	left: 322px;
	top: 520px;
	width: 351px;
	height: 410px;
	z-index: 17;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

body > div > div:nth-child(19) > img:first-of-type
{
	position: absolute;
	left: 14px;
	top: 12px;
	width: 320px;
	height: 225px;
	z-index: 19;
}

body > div > div:nth-child(19) > p
{
	font-size: 23px;
	font-family: "arial";
	line-height: 2.035;
	position: absolute;
	left: 26px;
	top: 227px;
	z-index: 35;
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text;
	color: transparent;
}

body > div > div:nth-child(19) > img:nth-child(3)
{
	position: absolute;
	left: 203px;
	top: 262px;
	z-index: 73;
}

body > div > div:nth-child(19) > p:nth-child(4)
{
	position: absolute;
	left: 210px;
	top: 258px;
	z-index: 157;
	font-size: 9px;
	font-family: "InterstatePlus-Regular";
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.2;
}

body > div > div:nth-child(19) > p:nth-child(5)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #a39b82;
	font-style: italic;
	line-height: 1.5;
	position: absolute;
	left: 28px;
	top: 284px;
	width: 293px;
	height: 85px;
	z-index: 113;
}

body > div > div:nth-child(20)
{
	background-image: url("../img/vine4.jpg");
	position: absolute;
	left: 676px;
	top: 520px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

body > div > div:nth-child(21)
{
	background-image: url("../img/vine5.jpg");
	position: absolute;
	left: 676px;
	top: 659px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

body > div > div:nth-child(22)
{
	background-image: url("../img/vine6.jpg");
	position: absolute;
	left: 676px;
	top: 798px;
	width: 232px;
	height: 132px;
	padding: 0;
	z-index: 54;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.17);
	border-radius: 5px;
}

body > div > div:nth-child(22) > p:nth-child(2)
{
	top: 31px;
}

hr
{
	display: inline;
}

body > div > div:nth-child(23)
{
	position: absolute;
	left: 80px;
	top: 951px;
	z-index: 66;
	width: 825px;
}

body > div > div:nth-child(23)>span
{
	font-size: 12px;
	font-family: "Georgia";
	color: #5f5b50;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 406px;
	height: 9px;
	z-index: 143;
}

body > div > div:nth-child(23)>img
{
	padding-left: 2px;
}

body > div > div:nth-child(24)
{
	font-size: 23px;
	font-family: "arial";
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text;
	color: transparent;
	line-height: 2.035;
	position: absolute;
	font-weight: bold;
	left: 85px;
	top: 985px;
	z-index: 36;
}

body > div > div:nth-child(25)
{
	font-size: 17px;
	font-family: "arial";
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: bold;
	line-height: 1.2;
	position: absolute;
	left: 702px;
	top: 999.8px;
	z-index: 104;
}

body > div > div:nth-child(26)
{
	border-radius: 3px;
	background-color: white;
	width: 570px;
	height: 355px;
	position: absolute;
	left: 83px;
	top: 1042px;
}

iframe
{
	width: 559px;
	height: 347px;
	z-index: 58;
	position: absolute;
	left: 5px;
	top: 5px;
}

body > div > form:nth-child(27) > div
{
	width: 206px;
	border: none;
	height: 33px;
	position: absolute;
	left: 703px;
 	top: 1044px;
	z-index: 89;
	border-radius: 5px;
	box-shadow: 2px 2px 17px -3px rgba(0,0,0,0.2);
}

body > div > form:nth-child(27) > div > input[type="search"]:nth-child(1)
{
	background-image: url("../img/search.png");
	background-size: 100%;
	border: none;
	outline: none;
	-webkit-appearance: none;
	width: 206px;
	height: 33px;
	vertical-align: middle;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 14px;
	font-family: "Georgia-Italic";
	font-size: 12px;
	color: rgb(139, 139, 139);
}

body > div > form:nth-child(27) > div > input[type="submit"]:nth-child(2)
{
	width: 30px;
	height: 33px;
	border: none;
	background: url(../img/envelope.png) no-repeat 50% 50%;
	position: absolute;
	left: 175px;
	top: 0px;
}

body > div > img:nth-child(28)
{
	position: absolute;
	left: 705px;
  	top: 1111px;
  	z-index: 122;
}

body > div > img:nth-child(29)
{
	position: absolute;
	left: 775px;
 	top: 1111px;
 	z-index: 123;
}

body > div > img:nth-child(30)
{
	position: absolute;
	left: 845px;
 	top: 1111px;
 	z-index: 124;
}

body > div > div:nth-child(31),
body > div > div:nth-child(32),
body > div > div:nth-child(33)
{
	position: absolute;
	background-color: #fefefe;
	border-radius: 5px;
	box-shadow: 1px 1px 10px -3px rgba(0,0,0,1);
	left: 697px;
	top: 1135px;
	width: 51px;
	height: 21px;
	z-index: 159;
}

body > div > div:nth-child(32)
{
	left: 766px;
}

body > div > div:nth-child(33)
{
	left: 836px;
}

body > div > div:nth-child(31) > p,
body > div > div:nth-child(32) > p,
body > div > div:nth-child(33) > p
{
	font-size: 13px;
	font-family: "HelveticaNeueCyr-Medium";
	color: #8b8b8b;
	line-height: 2;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 5px;
	top: 0px;
	z-index: 162;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.Most_popular
{
	width: 198px;
	position: absolute;
	left: 703px;
	top: 1170px;
	z-index: 105;
}

.Most_popular>p:first-of-type
{
	font-size: 17px;
	font-weight: bold;
	font-family: "arial";
	color: rgb(237, 237, 237);
	line-height: 1.2;
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text; 
	color: transparent;
}

.Most_popular>p:not(:first-of-type)
{
	font-size: 11px;
	font-family: "Georgia";
	color: rgb(43, 94, 94);
	font-style: italic;
	text-decoration: underline;
	line-height: 1.3;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
	padding: 0;
	margin: 0px 0px 6.5px 0px;
}

body > div > p:nth-child(35)
{
	font-size: 17px;
	font-family: "arial";
	font-weight: bold;
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text; 
	color: transparent;
	line-height: 1.2;
	position: absolute;
	left: 707px;
	top: 1426px;
	z-index: 106;
}

.Tail
{
	position: absolute;
	left: 733px;
	top: 1480px;
	z-index: 110;
}

.Black_monolog
{
	border-radius: 50%;
	background: linear-gradient(#464543, #010101);
	color: transparent;
	position: absolute;
	left: 705px;
	top: 1479px;
	z-index: 117;
	width: 194px;
	height: 194px;
}

.Black_monolog>p
{
	font-size: 11px;
	font-family: "Georgia";
	color: #e7e7e7;
	font-style: italic;
	line-height: 1.364;
	text-align: center;
	position: absolute;
	left: 23px;
	top: 41px;
	width: 142px;
	height: 56px;
	z-index: 114;
}

.Black_monolog>img
{
	position: absolute;
	left: 23px;
	top: 133px;
	z-index: 114;
}

.Black_monolog>a
{
	font-size: 12px;
	font-family: "Georgia";
	color: rgb(43, 94, 94);
	font-style: italic;
	text-decoration: underline;
	line-height: 1.5;
	position: absolute;
	left: 66px;
	top: 140px;
	width: 61px;
	height: 13px;
	z-index: 117;
}

.After_video
{
	font-size: 12px;
	font-family: "Georgia";
	color: #5f5b50;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	line-height: 1.5;
	position: absolute;
	left: 83.976px;
	top: 1426px;
	width: 577px;
	height: 49px;
	z-index: 125;
	margin: 0;
	padding: 0;
}

.social_media
{
	position: absolute;
	left: 86px;
	top: 1497px;
	z-index: 69;
}

.social_media>span:first-of-type
{
	font-size: 9px;
	font-family: "InterstatePlus";
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.2;
	position: absolute;
	left: 4px;
	top: 5px;
	z-index: 70;
}

.social_media>span:nth-of-type(2)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #2b5e5e;
	font-style: italic;
	text-decoration: underline;
	line-height: 1.5;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
	position: absolute;
	left: 26px;
	top: 0px;
	width: 57px;
	height: 13px;
	z-index: 115;
}

.social_media>span:nth-of-type(3)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #5f5b50;
	line-height: 1.5;
	position: absolute;
	left: 107px;
	top: 0px;
	width: 29px;
	height: 12px;
	z-index: 141;
}

.social_media>span:nth-of-type(4)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #2b5e5e;
	font-style: italic;
	text-decoration: underline;
	line-height: 1.5;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
	position: absolute;
	left: 146px;
	top: 0px;
	width: 267px;
	height: 14px;
	z-index: 116;
}

.social_media>span:nth-of-type(5)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #5f5b50;
	line-height: 1.5;
	position: absolute;
	left: 442px;
	top: 0px;
	width: 33px;
	height: 10px;
	z-index: 130;
}

.social_media>img:nth-of-type(2)
{
	position: absolute;
	left: 487px;
	top: 0px;
	z-index: 118;
}

.social_media>img:nth-of-type(3)
{
	position: absolute;
	left: 510px;
	top: 0px;
	z-index: 119;
}

.Article
{
	width: 570px;
	position: absolute;
	left: 88px;
	top: 1555px;
	z-index: 119;
}

.Article>p:first-of-type
{
	font-size: 23px;
	font-family: "arial";
	font-weight: bold;
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text; 
	color: transparent;
	line-height: 2.035;
	z-index: 37;
	-webkit-margin-before: 0;
	-webkit-margin-after: 15px;
}

.Article>p:not(:first-of-type)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #5f5b50;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	line-height: 1.55;
	margin-bottom: 27px;
	z-index: 125;
	padding: 0;
}

.Article>img
{
	float: left;
	margin: 0px 30px 30px 0px;
}

/*Social media-2 properties*/
body > div > div:nth-child(41)
{
	top: 1880px;
}

/*footer line*/
body > div > img:nth-child(42)
{
	position: absolute;
	left: 84px;
	top: 1964px;
	width: 840px;
	z-index: 67;
}

.footer
{
	height: 170px;
	position: absolute;
	left: 87px;
	top: 2029.3px;
	z-index: 147;
}

.footer>p:first-of-type
{
	font-size: 27px;
	font-family: "Glasgow-Medium";
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text; 
	color: transparent;
	line-height: 1.2;
	text-align: left;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.footer>p:nth-of-type(2)
{
	font-size: 11px;
	font-family: "Georgia";
	color: #a39b82;
	font-style: italic;
	line-height: 1.636;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 12px;
	top: 30px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.footer>img:first-of-type
{
	position: absolute;
	left: 126px;
	top: 69px;
}

.footer>img:nth-of-type(2)
{
	position: absolute;
	left: 147px;
	top: 69px;
}

.wine_spinner
{
	width: 100px;
	position: absolute;
	left: 233px;
	top: 1px;
}

.SIP
{
	width: 125px;
	position: absolute;
	left: 390px;
	top: 1px;
}

.Wine_rack
{
	width: 125px;
	position: absolute;
	left: 574px;
	top: 1px;
}

.Rotten_vine
{
	width: 105px;
	position: absolute;
	left: 709px;
	top: 1px;
}

.wine_spinner>p:first-of-type,
.SIP>p:first-of-type,
.Wine_rack>p:first-of-type,
.Rotten_vine>p:first-of-type
{
	font-size: 14px;
	font-family: "FranklinGothicLT-Medium";
	background: linear-gradient(#420011, #6d0024);
	-webkit-background-clip: text; 
	color: transparent;
	text-transform: uppercase;
	line-height: 1.2;
	-moz-transform: scale(1, 0.9);
	-webkit-transform: scale(1, 0.9);
	-ms-transform: scale(1, 0.9);
	-webkit-margin-before: 3px;
	-webkit-margin-after: 14px;
}

.wine_spinner>p:not(:first-of-type),
.SIP>p:not(:first-of-type),
.Wine_rack>p:not(:first-of-type),
.Rotten_vine>p:not(:first-of-type)
{
	font-size: 12px;
	font-family: "Georgia";
	color: #2b5e5e;
	font-style: italic;
	text-decoration: underline;
	line-height: 1.5;
	text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.3);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

