.main
{
	width: 1000px;
	margin: center;
}

.Monaco_img
{
	background-image: url("../img/vine1.jpg");
	/*position: absolute;
	left: 80px;
	top: 461px;*/
 	width: 241px;
 	height: 213px;
 	overflow: hidden;
 	z-index: 22;
}

.Monaco_text 
{
	font-size: 18px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 2.6;
	text-align: left;
	overflow: hidden;
	/*position: absolute;
	left: 147px;
	top: 512.1px;
	z-index: 55;*/
}

.b_line
{
	background-image: url("../img/black_line.png");
	opacity: 0.902;
	/*position: absolute;
	left: 140px;
	top: 522px;
*/	width: 176px;
	height: 28px;
	overflow: hidden;
	/*z-index: 41;*/
}



.main>div:nth-child(2)
{

}