 html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
    	margin: auto;
    	width: 600px;
   		height: 300px;
}      
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-pagination
    {
    	position: absolute;
    	top: 310px;
    	width: 100%;
    	margin: auto;
    }

    body > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets > span
    {
    	margin: 0.5%;
    }

    .swiper-button-next, .swiper-button-prev
    {
    	position: absolute;
    	top: 150px;
    }