.ng-hide-add,
.ng-hide-remove {
    transition: all linear 1s;
    display: block !important;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove {
    opacity: 0;
}

.ng-hide-add,
.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}