.hide
{
	width: 100px;
	height: 100px;
	background-color: red;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	z-index: 1001;
}

.spin
{
	width: 50px;
	height: 50px;
	background-color: green;
	position: absolute;
	border-radius: 50%;
	display: none;
}

.grey_screen
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
}