div{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    border-radius: 10px;

}

#result{
    width: 800px;
    height: 200px;
    border: 1px dashed black;
    display: block;
    text-align: center;
    font-size: 3em;
}