*
{
	padding: 5px;
}

CDs_catalog
{
	display: table;
	border: 1px solid black;
	border-collapse: collapse;
}

CD
{
	display: table-row;
	border: 1px solid black;
}

album, author, year, _style, compositions_list
{
	display: table-cell;
	border: 1px solid black;
	vertical-align: middle;
}

_track
{
	display: list-item;
	-webkit-margin-start: 20px;
}

duration
{
	padding-right: 5px;
}