body 
{
	font-family: PT Sans, sans-serif; 
	font-size: 12pt;
}

h1
{
	text-transform:uppercase; 
	color: #38761D; 
	font-size: 100%; 
	text-decoration: underline;
}

.header2
{
	display: block;
	text-transform:uppercase; 
	color: #00123F; 
	font-size: 97.5%;
	margin-top: 1%;
}

.news
{
	display: block;
	margin-top: 1.15%;
}

.date
{
	display: block;
	color: #898989; 
	font-size: 62.5%;
	margin-top: 1.3%;
}

.header3
{
	display: block;
	font-size: 82%;
	font-weight: bold;
	color: #0000FF;
	margin-top: 0.9%;
}

.text
{
	display: block;
	font-size: 70%;
	margin-top: 0.85%;
}

.main
{
	display: block;
	color: #E0173D; 
	font-size: 105%; 
	font-style: italic;
	margin-top: 3.35%;
	margin-bottom: 1.35%;
}

.sign
{
	display: block;
	font-size: 50%; 
	margin-bottom: 0;
}