body
{
    width: 1000px;
}

.main
{
    margin: auto;
    position: relative;
    width: 570px;
    display: block;
}

input
{
    display: block;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.55);
    border-radius: 15%;
    margin: 2% 2% 2% 2%;
    cursor: pointer;
    position: absolute;
}

input:first-of-type,
input:nth-of-type(2)
 {
     width: 70px;
 }

input:first-of-type
{
    left: 120px;
}

input:nth-of-type(2)
{
    left: 443px;
}

input:nth-of-type(3),
input:nth-of-type(4),
input:nth-of-type(5)
{
    width: 50px;
    height: 20px;
    left: 293px;
}

input:nth-of-type(3)
{
    top: 60px;
}

input:nth-of-type(4)
{
    top:90px;
}

input:nth-of-type(5)
{
    top:120px;
}

ul
{
    display: block;
    width: 240px;
    overflow: hidden;
    min-height: 30px;
    position: absolute;
    top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    list-style-type: none;
    -webkit-padding-start: 0;
}

ul:first-of-type
{
    left: 50px;
}

ul:last-of-type
{
    left: 370px;
}

li
{
    width: 230px;
    height: 30px;
    margin: 3px;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 30px;
    padding: 2px;
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.55);
    cursor: pointer;
}

ul:first-of-type>li:hover
{
   background-color: rgb(255, 168, 170);
   cursor: pointer;
}

ul:first-of-type>li:active
{
    background-color: rgb(166, 0, 41);
}

ul:first-of-type>li
{
    background-color: hotpink;
}

ul:last-of-type>li
{
   background-color: deepskyblue;
}

ul:last-of-type>li:hover
{
    background-color: rgb(127, 228, 255);
}

ul:last-of-type>li:active
{
    background-color: rgb(0, 108, 145);
}