.fields
{
    margin: 5px 0 5px 0;
}

.select_option
{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.choosen
{
    color: red;
}

.message
{
    display: block;
    width: 230px;
    min-height: 30px;
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.message>p
{
    color: red;
    margin:5px;
    padding: 0;
}

form
{
    width: 250px;
    margin:auto;
}

body > form > input[type="submit"]
{
    margin-left: 100px;
    border-radius: 5px;
}

input[type="text"]
{
    border-radius: 5px;
}