table
{
	width: 45%;
	border-collapse: collapse;
	display: inline-block;
	width: 648px;
}

table.t2
{
	border: 1px solid #B8B8B8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.green_bord1
{
	border-top: 4px solid #74D46B;
}

.green_bord2
{
	padding-bottom: 5%;
	border-bottom: 4px solid #74D46B;
}

#for_subscr
{
	color: #B8B8B8;
	text-align: center;
	font-size: 0.8em;
}

.menu>td
{
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.menu>td:first-child
{
	text-align: center;
	padding-left: 0px;
	padding-right: 20px;
}

.menu>td:not(:first-child)
{
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	width: 15px;
	border-right: 1px solid #B8B8B8;
	border-left: 1px solid #B8B8B8;
}

.banner>td
{
	text-align: left;
	line-height:0px;
	padding: 0px;
	margin: 0px;
}

#button
{
	background-image: url(../img/banner4.jpg);
	height: 158px;
}

#button>td
{
	text-align: center;
}


.list>td, .first_list>td
{
	text-align: left;
	vertical-align: middle;
	color: #3E9DCF;
}

.list>td:nth-child(1)
{
	padding-left: 7%;
}

.list>td:nth-child(2)
{
	padding-left: 6%;
	
}

.grey
{
	color: #B8B8B8;
	text-align: center;
	font-size: 1em;
}

.blue
{
	color: #3E9DCF;
	text-align: center;
	font-size: 1em;
	text-decoration: underline;
}

td.footer
{
	padding-top: 3%;
	padding-bottom: 6%;
	padding-left: 2%;
}
