*, html, body{
	margin: 0px;
	padding: 0px;
}

body{
	
}

form{
	display:block;
	width: 300px;
	margin: auto;
	#border: 1px solid red;
	text-align:right;
	padding: 50px 100px 30px 30px;
	background-color: #DDD; 
}

input[type="button"]{
	margin:0 60%;
}

div#message{
	text-align: center;
}