#message{
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

#preloader>img{
    margin: auto;
    display: block;
    padding-top: 20px;
}