*
{
    padding: 5px;
}

immovable_objects
{
    display: table;
    border: 1px solid black;
    border-collapse: collapse;
}

object
{
    display: table-row;
    border: 1px solid black;
}

name, address, built_date, floors_number, rooms_number, price
{
    display: table-cell;
    border: 1px solid black;
    vertical-align: middle;
}