table, th, td
{
	border: 1px solid black;
	width: 70%;
	border-collapse: collapse;
}

.header
{
	background-color: blue;
	color: white;
}

.table_head
{
	background-color: green;
	color: white;
}

table
{
	margin-top: 2%;
	margin-bottom: 2%;
}

.zebra>td:nth-child(2n):nth-last-of-type(5)
{
    background-color: #dddddd;
}

.second>td:nth-child(1), .second>td:nth-child(3), .second>td:nth-child(4)
{
 background-color: grey;
}

.second>td:nth-child(2)
{
 background-color: red;
}

.second>td:nth-child(6)
{
 color:red;
}

.black_head
{
	background-color: black;
	color:white;
}

