  .main
  {
    width: 320px;
  }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.woff') format('woff'),
       url('../fonts/OpenSans.ttf') format('truetype'),
       url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('../fonts/OpenSans-Extrabold.woff') format('woff'),
       url('../fonts/OpenSans-Extrabold.ttf') format('truetype'),
       url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
       url('../fonts/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'),
       url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/OpenSans-Italic.woff') format('woff'),
       url('../fonts/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg'),
       url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url('../fonts/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg'),
       url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*
{
  transition: all .2s;
}

body
{
	background-image: url(../img/bcg.png);
  font-family: "OpenSans";
}

.main
{
  width: 1500px;
  margin: auto;
  position: relative;
}

.b_line1
{
	width: 1500px;
	height: 80px;
	background-color: rgb(118, 199, 192);
	position: relative;
  	left: 0px;
  	top: 0px;
  	z-index: 0;
}


.ruler_top
{
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 1;
}

.modus
{
	font-size: 30px;
  	font-family: "OpenSans-Extrabold";
  	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: left;
	position: absolute;
	left: 169.844px;
	top: 25.828px;
	z-index: 199;
}

.versus 
{
  font-size: 25px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 290px;
  top: 28px;
  z-index: 200;
}

.home, .about, .services, .portfolio, .blog, .features, .contacts    
{
  width: 78px;
  height: 30px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  top: 35.65px;
  z-index: 185;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  text-align: center;
  line-height: 30px;
}

.home:hover, .about:hover, .services:hover, .portfolio:hover, .blog:hover, .features:hover, .contacts:hover, .lupa:hover
{
  background-color: #62a29e;
  cursor: pointer;
  box-shadow: 0px -5px 0px 0px #528b86 inset;
}

.home:active, .about:active, .services:active, .portfolio:active, .blog:active, .features:active, .contacts:active, .lupa:active
{
  background-color: rgb(232, 100, 90);
  cursor: pointer;
  box-shadow: 0px -5px 0px 0px #e2534b inset;
}

.home
{
	left: 574.937px;
}
.about 
{
  left: 659.937px;
}

.services 
{
  left: 758.12px;
}

.portfolio
{
  width: 78px;
  left: 867.937px;
}

.blog
{
  left: 991.937px;
}

.features
{
  left: 1079.937px;
}

.contacts
{
  left: 1193.937px;
}

.lupa
{
  width: 25px;
  height: 30px;
  position: absolute;
  top: 40px;
  z-index: 180;
  left: 1311.037px;
}

.grey_rec 
{
  background-color: rgb(127, 140, 140);
  position: relative;
  left: 0px;
  top: 0px;
  width: 1500px;
  height: 500px;
  z-index: 0;
}

.vestibulum
{
  border-radius: 5px;
  background-color: rgb(226, 83, 75);
  font-size: 50px;
  font-family: "OpenSans-Extrabold";
  color: rgb(255, 255, 255);
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 577px;
  top: 242px;
  width: 346px;
  height: 50px;
  z-index: 172;
}

.Maecenas_tincidunt 
{
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 515px;
  top: 302px;
  width: 470px;
  height: 71px;
  z-index: 165;
}

.top_serv 
{
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  color: rgb(127, 140, 140);
  position: absolute;
  left: 163px;
  top: 630px;
  width: 1170px;
  height: 100px;
  z-index: 144;
}

.some
{
  font-size: 30px;
  font-family: "OpenSans-Semibold";
  line-height: 1.2;
  text-align: left;
  margin-left: 20px;
  margin-top: 25px;
}

.ut
{
  font-size: 13px;
  font-family: "OpenSans";
  line-height: 1.6;
  text-align: left;
  margin-left: 20px;
}

.but1, .but2, .but3, .but4 
{
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #76caca;
  position: absolute;
  text-align: center;
  line-height: 54px;
  font-family: "OpenSans-Semibold";
  width: 200px;
  height: 54px;
  z-index: 146;
  box-shadow: 0px -5px 0px 0px #62b9b0 inset;
}

.path1
{
  background-color: #76caca;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "OpenSans-Semibold";
  text-align: center;
  border-radius: 5px;
  position: absolute;
  width: 200px;
  height: 54px;
  box-shadow: 0px -5px 0px 0px #62b9b0 inset;
  line-height: 54px;
  z-index: 146;
}

.path1:hover, .but1:hover, .but2:hover, .but3:hover, .but4:hover
{
  box-shadow: 0px -5px 0px 0px #528b86 inset;
  cursor: pointer;
  background-color: #62a29e;
}

.path1:active, .but1:active, .but2:active, .but3:active, .but4:active 
{
  box-shadow: 0px -5px 0px 0px #e2534b inset;
  cursor: pointer;
  background-color: rgb(232, 100, 90);
}

.path1
{
  left: 1098px;
  top: 654px;
}

.block1, .block2, .block3, .block4 
{
  border-radius: 5px;
  position: absolute;
  width: 270px;
  height: 310px;
  z-index: 114;
}

.block1
{
	background-color: rgb(255, 255, 255);
	left: 163px;
  top: 780px;
}

.block2
{
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  position: absolute;
  left: 463px;
  top: 780px;
  width: 270px;
  height: 310px;
  z-index: 115;
}

.block3
{
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  position: absolute;
  left: 763px;
  top: 780px;
  width: 270px;
  height: 310px;
  z-index: 116;
}

.block4
{
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  position: absolute;
  left: 1063px;
  top: 780px;
  width: 270px;
  height: 310px;
  z-index: 117;
}

.cool
{
  position: absolute;
  left: 231.938px;
  top: 853.317px;
  z-index: 124;
}

.quisque
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 177.937px;
  top: 970.086px;
  width: 226px;
  height: 52px;
  z-index: 125;
}

.maecenas
{
  position: absolute;
  font-family: "OpenSans";
  left: 550.937px;
  top: 853.317px;
  z-index: 127;
}

.ut_eleifend
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 479.49px;
  top: 969.151px;
  width: 240px;
  height: 75px;
  z-index: 118;
}

.aliquam
{
  position: absolute;
  left: 855.937px;
  top: 853.317px;
  z-index: 128;
}

.vivamus
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 787.437px;
  top: 970.086px;
  width: 218px;
  height: 72px;
  z-index: 119;
}

.habitasse
{
  position: absolute;
  left: 1140.937px;
  top: 853.317px;
  z-index: 123;
}

.astehicula 
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 1079.99px;
  top: 970.086px;
  width: 220px;
  height: 51px;
  z-index: 120;
}

.path1_little 
{
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(226, 83, 75);
  position: absolute;
  top: 654px;
  width: 200px;
  height: 54px;
  z-index: 146;
}

.read_more
{
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 54px;
  text-align: center;
  position: absolute;
  left: 25px;
  z-index: 148;
}

.path2_little 
{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  position: absolute;
  top: 654px;
  width: 200px;
  height: 50px;
  z-index: 147;
}


.but1, .cov1
{
  left: 204px;
  top: 1064px;
}

.but1>span, .but2>span, .but3>span, .but4>span
{
  left: 60px;
}

.but2, .cov2
{
  left: 501px;
  top: 1064px;
} 

.but3, .cov3
{
  left: 797px;
  top: 1064px;
}

.but4, .cov4
{
  left: 1099px;
  top: 1064px;
}

.grey_bg
{
  position: relative;
  width: 1500px;
  height: 400px;
  top: 588px;
  left: 0px;
  background-image: url(../img/bg_light_grey.png);
  z-index: 0;
}

.ruler
{
  position: relative;
  top: 185px;
  left: 0px;
  z-index: 1;
}

.why
{
  width: 700px;
  height: 100px;
  position: relative;
  top: 270px;
  left: 420px;
}


.why>span:first-child
{
   position: absolute;
   font-size: 40px;
   color: red;
   line-height: 70px;
   text-align: center;
   left: 110px;
   font-family: "OpenSans-Extrabold";
}

.why>span:last-child
{ 
    position: absolute;
    top: 65px;
    left: 0px;
    font-family: "OpenSans";
    font-size: 13px;
    line-height: 13px;
    color: rgb(119, 119, 119);
    text-align: center;
}


.speed_block
{
  position: relative;
  top: 460px;
  height: 686px;
  width: 1500px;
  z-index: 0;
}

.your_images
{
  position:relative;
  top: 300px;
  left: 75px;
  height: 400px;
  width: 1500px;
  z-index: 1;
}

.your_images>img:first-child
{
  position: absolute;
  top: 50px;
  left: 85px;
  z-index: 1;
  border-radius: 10px;
}


.your_images>img:nth-child(2)
{
  position: absolute;
  left: 385px;
  top:-10px;
  z-index: 2;
  border-radius: 10px;
}

.your_images>img:last-child
{
  position: absolute;
  top: 50px;
  left: 880px;
  z-index: 1;
  border-radius: 10px;
}

.choose_us
{
  position: relative;
  top: 310px;
  left: 150px;
  width: 270px;
  height: 240px;
}

.choose_us>span
{
  font-family: "OpenSans-Extrabold";
  font-size: 16px;
  color: rgb(127, 140, 140);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 5px;
  z-index: 101;
}

.choose_us>ul
{
  margin-top: 65px;
  list-style-image: url(../img/marker.png);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 139px;
}

.choose_us>ul>li
{
  line-height: 13px;
  font-family: "OpenSans";
  font-size: 13px;
  color: rgb(119, 119, 119);
  line-height: 2;
  text-align: left;
  
}

.Curabitur
{
  position: relative;
  width: 570px;
  height: 72px;
  left: 485.062px;
  top: 55px;
}

.Curabitur>p
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.9;
  text-align: left;
  position: absolute;
  
  width: 500px;
  height: 37px;
  z-index: 94;
}


.Curabitur>p>span
{
  color: #e36f6a;
  text-decoration: underline;
}

.speedometrs
{
  position: absolute;
  width: 570px;
  height: 270px;
  left: 470px;
}

.speedometrs>img:nth-child(1)
{
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 81;
}


 .speedometrs>img:nth-child(2)
{
  position: absolute;
  left: 145px;
  top: 107px;
  z-index: 89;
}

.speedometrs>img:nth-child(3)
{
  position: absolute;
  left: 285px;
  top: 107px;
  z-index: 89;
}

.speedometrs>img:nth-child(4)
{
  position: absolute;
  left: 425px;
  top: 107px;
  z-index: 89;
}

.speedometrs>span
{
  font-family: "OpenSans-Extrabold";

}

.speedometrs>span:nth-of-type(1), .speedometrs>span:nth-of-type(2), .speedometrs>span:nth-of-type(3), .speedometrs>span:nth-of-type(4)
{
  font-size: 30px;
  color: rgb(127, 140, 140);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 514px;
  top: 135px;
  z-index: 90;
}

.speedometrs>span:nth-of-type(1)
{
  left: 55px;
}
.speedometrs>span:nth-of-type(2)
{
  left: 190px;
}

.speedometrs>span:nth-of-type(3)
{
  left: 330px;
}

.speedometrs>span:nth-of-type(4)
{
  left: 460px;
}

.speedometrs>span:nth-of-type(5), .speedometrs>span:nth-of-type(6), .speedometrs>span:nth-of-type(7), .speedometrs>span:nth-of-type(8)
{
  font-size: 16px;
  color: rgb(127, 140, 140);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  top: 190px;
  z-index: 95;
}


.speedometrs>span:nth-of-type(5)
{
  left: 15px;
}

.speedometrs>span:nth-of-type(6)
{
  left: 160px;
}

.speedometrs>span:nth-of-type(7)
{
  left: 303px;
}

.speedometrs>span:nth-of-type(8)
{
  left: 440px;
}

.clients_say
{
  position: relative;
  left: 1070px;
  width: 265px;
  height: 220px;
}

.clients_say>span:first-child
{
  font-size: 16px;
  font-family: "OpenSans-Extrabold";
  color: rgb(127, 140, 140);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 77;
}

.clients_say>span:nth-child(2)
{
  font-size: 13px;
  font-family: "OpenSans-Italic";
  color: rgb(119, 119, 119);
  line-height: 1.9;
  text-align: left;
  position: absolute;
  left: 15px;
  top: 50px;
  width: 234px;
  height: 84px;
  z-index: 78;
}

.clients_say>img
{
  position: absolute;
  left: 0px;
  top: 35px;
  z-index: 75;
}

.clients_say>span:nth-child(4)
{
  font-size: 16px;
  font-family: "OpenSans-Semibold";
  color: rgb(119, 119, 119);
  line-height: 1.9;
  text-align: left;
  position: absolute;
  left: 60px;
  top: 155px;
  z-index: 77;
}

.happy_clients>span:first-of-type
{
  font-size: 16px;
  font-family: "OpenSans-Extrabold";
  color: rgb(127, 140, 140);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 163px;
  top: 2059.303px;
  z-index: 64;
}

.happy_clients>img:first-of-type
{
  position: absolute;
  left: 329px;
  top: 2062.5px;
  width: 887px;
  height: 7px;
  z-index: 51;
}

.JQuery
{
  position: relative;
  width: 1500px;
  left: 0;
  top: 70px;
}

.JQuery>div:nth-child(odd)
{
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 20px;
  width: 170px;
  height: 90px;
  z-index: 52;
}

.JQuery>div:nth-child(even)
{
  position: absolute;
  top: 55px;
  z-index: 58;
}

.JQuery>div:nth-child(1)
{
  left: 163px;
}

.JQuery>div:nth-child(2)
{
  left: 178px;
}

.JQuery>div:nth-child(3)
{
  left: 363px;
}

.JQuery>div:nth-child(4)
{
  left: 378px;
}

.JQuery>div:nth-child(5)
{
  left: 563px;
}

.JQuery>div:nth-child(6)
{
  left: 578px;
}

.JQuery>div:nth-child(7)
{
  left: 763px;
}

.JQuery>div:nth-child(8)
{
  left: 778px;
}

.JQuery>div:nth-child(9)
{
  left: 963px;
}

.JQuery>div:nth-child(10)
{
  left: 978px;
}

.JQuery>div:nth-child(11)
{
  left: 1163px;
}

.JQuery>div:nth-child(12)
{
  left: 1178px;
}

.JQuery>img
{
  position: absolute;
  left: 0px;
  top: 161px;
  z-index: 10;
}

.blue_bottom
{
  background-color: rgb(118, 199, 192);
  position: relative;
  top: 230px;
  width: 1500px;
  height: 350px;
  z-index: 3;
}

.blue_bottom>img:first-of-type
{
  position: absolute;
  left: 168px;
  top: 47px;
  z-index: 12;
}

.blue_bottom>div:first-of-type
{
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 168.062px;
  top: 110px;
  width: 353px;
  height: 59px;
  z-index: 13;
}

.blue_bottom>div:nth-of-type(2)
{
  position: absolute;
  top: 210px;
  left: 168.062px;
}

.blue_bottom>div:nth-of-type(2)>span:first-of-type
{
  position: absolute;
  top: 9px;
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  width: 37px;
  height: 9px;
  z-index: 15;
}

.blue_bottom>div:nth-of-type(2)>span:last-of-type
{
  position: absolute;
  left: 70px;
  font-size: 20px;
  font-family: "OpenSans-SemiboldItalic";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  width: 220px;
  height: 13px;
  z-index: 17;
}

.blue_bottom>div:nth-of-type(3)
{
  position: absolute;
  top: 240px;
  left: 168.062px;
}

.blue_bottom>div:nth-of-type(3)>span:first-of-type
{
  position: absolute;
  top: 9px;
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  width: 45px;
  height: 9px;
  z-index: 15;
}

.blue_bottom>div:nth-of-type(3)>span:last-of-type
{
  position: absolute;
  left: 70px;
  font-size: 20px;
  font-family: "OpenSans-SemiboldItalic";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  width: 220px;
  height: 13px;
  z-index: 17;
}

.blue_bottom>div:nth-of-type(4)>p:first-of-type
{
  font-size: 20px;
  font-family: "OpenSans-Bold";
  color: rgba(0, 0, 0, 0.502);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 564px;
  top: 47px;
  z-index: 7;
}

.blue_bottom>div:nth-of-type(4)>ul:first-of-type
{
    list-style-image: url(../img/corner_marker.png);
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 570px;
  top: 110px;
  width: 70px;
  height: 126px;
  z-index: 22;
}


.blue_bottom>div:nth-of-type(5)>p:first-of-type
{
  font-size: 20px;
  font-family: "OpenSans-Bold";
  color: rgba(0, 0, 0, 0.502);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 764px;
  top: 47px;
  z-index: 7;
}

.blue_bottom>div:nth-of-type(5)>ul:first-of-type
{
    list-style-image: url(../img/corner_marker.png);
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 770px;
  top: 110px;
  width: 70px;
  height: 126px;
  z-index: 22;
}

.blue_bottom>div:nth-of-type(6)
{
  width: 370px;
  position: relative;
  background: red;
  top: 45px;
  left: 990px;
}

.blue_bottom>div:nth-of-type(6)>p:first-of-type
{
  position: absolute;
  left: 0px;
  top: 0px;
}

.blue_bottom>div:nth-of-type(6)>p:first-of-type>span:first-of-type
{
  font-family: "OpenSans-Italic";
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.blue_bottom>div:nth-of-type(6)>p:first-of-type>span:nth-of-type(2)
{
  font-family: "OpenSans-Bold";
  color: rgb(255, 255, 255);
  font-size: 20px;
}


.blue_bottom>div:nth-of-type(6)>img:first-of-type
{
  position: absolute;
  left: 0px;
  top: 75px;
}

.blue_bottom>div:nth-of-type(6)>img:nth-of-type(2)
{
  position: absolute;
  left: 0px;
  top: 165px;
}


.blue_bottom>div:nth-of-type(6)>p:nth-of-type(2)
{
  position: absolute;
  left: 90px;
  top: 60px;
  font-family: "OpenSans";
  font-size: 13px;  
  color: rgb(255, 255, 255);
}

.blue_bottom>div:nth-of-type(6)>p:nth-of-type(3)
{
  position: absolute;
  left: 90px;
  top: 100px;
  font-family: "OpenSans";
  font-size: 13px; 
  color: rgba(0, 0, 0, 0.502);
}

.blue_bottom>div:nth-of-type(6)>p:nth-of-type(4)
{
  position: absolute;
  left: 90px;
  top: 150px;
  font-family: "OpenSans";
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.blue_bottom>div:nth-of-type(6)>p:nth-of-type(5)
{
  position: absolute;
  left: 90px;
  top: 190px;
  font-family: "OpenSans";
  font-size: 13px; 
  color: rgba(0, 0, 0, 0.502);
}

.footer
{
  position: relative;
  top: 230px;
  width: 1500px;
  height: 50px;
  background-color: #6ab3ac;
}

.footer>span:first-of-type
 {
  font-size: 12px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 169px;
  top: 17px;
  width: 110px;
  height: 9px;
  z-index: 31;
}

.footer>img:first-of-type
{
position: absolute;
top: 15px;
left: 1180px;
}

.footer>img:nth-of-type(2)
{
position: absolute;
top: 15px;
left: 1223px;
}

.footer>img:nth-of-type(3)
{
position: absolute;
top: 15px;
left: 1266px;
}

.footer>img:nth-of-type(4)
{
position: absolute;
top: 15px;
left: 1309px;
}
