<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container-fluid" data-ng-app="tiresApp">
<p>{{"AngularJS" | lowercase | uppercase }}</p>
<p ng-controller="MessageController">
    {{msg}}
</p>

<p ng-controller="monthesAmount">
    There are {{monthes()}} monthes in a year;
</p>

<p ng-controller="AdditionController">
    <select ng-model="operand1" ng-options="x for x in options"></select>
    + <select ng-model="operand2" ng-options="x for x in options"></select>
    = {{add()}}
</p>

<div ng-controller="books">
    <div class="text-info"
         ng-repeat="item in allBooks"
         ng-class="{'text-danger': $odd}">
       {{$index + 1}}. {{item.author}}
    </div>
</div>

<div ng-controller="ItemsController">
    <div ng-repeat="item in items"
         class="label label-default"
         ng-class="{'label-success': $odd}">
        {{$index + 1}}. {{item.name}}
    </div>
</div>

<table class="table-striped">
    <tr ng-repeat="(key, val) in {author : 'Pushkin', price: 8.5}"> <td ng-bind="key"></td> <td ng-bind="val"></td></tr>
</table>

<input type="checkbox" ng-model="showMessage">
Check the box to show the message
<h2 ng-show="showMessage">
    The secret message.
</h2>

<div ng-controller="localContoller">
    Your locale: <span ng-bind="local"></span>
</div>

<div ng-controller="scoreCtrl">
    <p>{{score.points}}</p>
    <p>{{rnd}}</p>
    <input type="button" value="increment!" ng-click="increment()">
    <input type="button" value="get random!" ng-click="random()" >
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>