body
{
    width: 1000px;
}

.main
{
    margin: auto;
    position: relative;
    width: 500px;
    display: block;
}

*
{
    transition: 500ms;
}

.main>div:first-of-type
{
    width: 300px;
    height: 30px;
    margin:auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main>div:nth-of-type(2)
{
    width: 500px;
    height: 500px;
    background-image: url("../img/grass.jpg");
    position: relative;
    overflow: hidden;
}

.main>div:nth-of-type(2)>img
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 225px;
    left: 225px;
    z-index: 4;
}

.gate_top, .gate_bottom
{
    width: 200px;
    height: 20px;
    border: 5px solid white;
    position: absolute;
    left: 150px;
    background-color: rgba( 255, 255, 255, 0.5);
    z-index: 5;
}

.gate_top
{
    top: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.gate_bottom
{
    bottom: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.Goal
{
    position: absolute;
    top:240px;
    left: 200px;
    color: white;
    font-size: 1.5em;
}