title
{
    display: none;
}

body
{
    width: 1000px;
}

.main
{
    margin: auto;
    position: relative;
    width: 500px;
    display: block;
}

*
{
    transition: 500ms;
}

input
{
    display: inline-block;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.55);
    border-radius: 15%;
    margin: 2% 2% 2% 2%;
    width: 70px;
    align-items:center;
    cursor: pointer;
}

.main>div:first-of-type
{
    width: 250px;
    margin: auto;
    display: block;
}

.colored
{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.colored>div:first-of-type
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: none;
    transition: 0s;
}

.colored>div:last-of-type
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    display: none;
    transition: 0s;
}