@font-face {
  font-family: 'ArialMT';
  src: url('../font/ArialMT.woff') format('woff'),
       url('../font/ArialMT.ttf') format('truetype'),
       url('../font/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial';
  src: url('../font/arial.eot');
  src: url('../font/arial.woff2') format('woff2'),
       url('../font/arial.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma-Bold';
  src: url('../font/Tahoma-Bold.woff') format('woff'),
       url('../font/Tahoma-Bold.ttf') format('truetype'),
       url('../font/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahomabd';
  src: url('../font/tahomabd.eot');
  src: url('../font/tahomabd.woff2') format('woff2'),
       url('../font/tahomabd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../font/TrebuchetMS.woff') format('woff'),
       url('../font/TrebuchetMS.ttf') format('truetype'),
       url('../font/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trebuc';
  src: url('../font/trebuc.eot');
  src: url('../font/trebuc.woff2') format('woff2'),
       url('../font/trebuc.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('../font/Arial-BoldMT.woff') format('woff'),
       url('../font/Arial-BoldMT.ttf') format('truetype'),
       url('../font/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arialbd';
  src: url('../font/arialbd.eot');
  src: url('../font/arialbd.woff2') format('woff2'),
       url('../font/arialbd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url('../font/MyriadPro-BoldCond.eot');
  src: url('../font/MyriadPro-BoldCond.woff2') format('woff2'),
       url('../font/MyriadPro-BoldCond.woff') format('woff'),
       url('../font/MyriadPro-BoldCond.ttf') format('truetype'),
       url('../font/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg'),
       url('../font/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../font/MyriadPro-Light.eot');
  src: url('../font/MyriadPro-Light.woff2') format('woff2'),
       url('../font/MyriadPro-Light.woff') format('woff'),
       url('../font/MyriadPro-Light.ttf') format('truetype'),
       url('../font/MyriadPro-Light.svg#MyriadPro-Light') format('svg'),
       url('../font/MyriadPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-LightCond';
  src: url('../font/MyriadPro-LightCond.eot');
  src: url('../font/MyriadPro-LightCond.woff2') format('woff2'),
       url('../font/MyriadPro-LightCond.woff') format('woff'),
       url('../font/MyriadPro-LightCond.ttf') format('truetype'),
       url('../font/MyriadPro-LightCond.svg#MyriadPro-LightCond') format('svg'),
       url('../font/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-LightSemiCn';
  src: url('../font/MyriadPro-LightSemiCn.eot');
  src: url('../font/MyriadPro-LightSemiCn.woff2') format('woff2'),
       url('../font/MyriadPro-LightSemiCn.woff') format('woff'),
       url('../font/MyriadPro-LightSemiCn.ttf') format('truetype'),
       url('../font/MyriadPro-LightSemiCn.svg#MyriadPro-LightSemiCn') format('svg'),
       url('../font/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../font/MyriadPro-Regular.eot');
  src: url('../font/MyriadPro-Regular.woff2') format('woff2'),
       url('../font/MyriadPro-Regular.woff') format('woff'),
       url('../font/MyriadPro-Regular.ttf') format('truetype'),
       url('../font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../font/MyriadPro-Semibold.eot');
  src: url('../font/MyriadPro-Semibold.woff2') format('woff2'),
       url('../font/MyriadPro-Semibold.woff') format('woff'),
       url('../font/MyriadPro-Semibold.ttf') format('truetype'),
       url('../font/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
       url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../font/Tahoma.woff') format('woff'),
       url('../font/Tahoma.ttf') format('truetype'),
       url('../font/Tahoma.svg#Tahoma') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahoma';
  src: url('../font/tahoma.eot');
  src: url('../font/tahoma.woff2') format('woff2'),
       url('../font/tahoma.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-BoldSemiCn';
  src: url('../font/MyriadPro-BoldSemiCn.eot');
  src: url('../font/MyriadPro-BoldSemiCn.woff2') format('woff2'),
       url('../font/MyriadPro-BoldSemiCn.woff') format('woff'),
       url('../font/MyriadPro-BoldSemiCn.ttf') format('truetype'),
       url('../font/MyriadPro-BoldSemiCn.svg#MyriadPro-BoldSemiCn') format('svg'),
       url('../font/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trebuchet-ms-58aded5ee3052';
  src: url('../font/trebuchet-ms-58aded5ee3052.eot');
  src: url('../font/trebuchet-ms-58aded5ee3052.woff2') format('woff2'),
       url('../font/trebuchet-ms-58aded5ee3052.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



.main
{
	width: 775px;
}

.grey_line
{
	left: 0px;
 	top: 0px;
 	width: 775px;
 	height: 4px;
 	background-color: rgba(234, 234, 234, 0.102);
 	z-index: 8;
}

.top_menu
{
	list-style-type: none;
	position: absolute;
 	top: 35px;
  left: 0px;
  margin: 0;
}

.top_menu>li
{
	display: inline-block;
	text-align: center;
	margin 0;
}

.top_menu>li>a
{
	text-transform: uppercase;
	font-size: 17.461px;
	letter-spacing: -0.035em;
	font-family: "MyriadPro-BoldCond";
	color: #2e2e2e;
	font-weight: bold;
	line-height: 0.852;
	text-decoration: none;
}

.top_menu>li:nth-child(2),
.top_menu>li:nth-child(3),
.top_menu>li:nth-child(4),
.top_menu>li:nth-child(5)
{
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #d5d5d5;
	border-left-color: #d5d5d5;
	border-width: 1px;
}

.top_menu>li:nth-child(1)
{
	border-right-style: dotted;
	border-right-color: #d5d5d5;
	border-width: 1px;
}
.top_menu>li:nth-child(6)
{
	border-left-style: dotted;
	border-left-color: #d5d5d5;
	border-width: 1px;
}

.top_menu>li:nth-child(1)
{
	width: 110px;
}

.top_menu>li:nth-child(2)
{
	width: 112px;
}

.top_menu>li:nth-child(3)
{
	width: 113px;
}

.top_menu>li:nth-child(4)
{
	width: 112px;
}

.top_menu>li:nth-child(5)
{
	width: 112px;
}

.top_menu>li:nth-child(6)
{
	width: 112px;
}

.image
{
	background-image: url("../img/grey_bg.png");
	position: absolute;
	left: 0px;
	top: 84px;
	height: 245px;
	width: 775px;
	z-index: 5;
}

.image>img:nth-child(1)
{
	position: absolute;
	left: 85px;
    top: 50px;
	z-index: 6;
}

/*BIZ*//*Consult*/
body > div > div.image > p:nth-child(2) > span:nth-child(1),
body > div > div.image > p:nth-child(2) > span:nth-child(2)
{
	font-size: 44.743px;
	font-family: "MyriadPro-LightCond";
	color: #c7965a;
	line-height: 0.333;
	text-align: left;
	position: absolute;
	z-index: 6;
}

/*BIZ*/
body > div > div.image > p:nth-child(2) > span:nth-child(1)
{
	left: 57px;
    top: 150px;
}

/*Consult*/
body > div > div.image > p:nth-child(2) > span:nth-child(2)
{
	color: white;
	left: 102px;
    top: 150px;
    letter-spacing: -0.03em;
}

/*best consulting services*/
body > div > div.image > p:nth-child(3)
{
	font-size: 13.095px;
	font-family: "MyriadPro-Semibold";
	color: rgb(100, 100, 100);
	text-transform: uppercase;
	line-height: 1.137;
	text-align: left;
	position: absolute;
	left: 48.5px;
	top: 160px;
	z-index: 6;
	letter-spacing: -0.03em;
}

/*we work*/
body > div > div.image > p:nth-child(4)
{
	font-size: 44.743px;
	font-family: "MyriadPro-LightCond";
	color: rgb(63, 87, 99);
	text-transform: uppercase;
	line-height: 0.333;
	text-align: left;
	letter-spacing: -0.03em;
	position: absolute;
	left: 583.285px;
    top: 99.05px;
	z-index: 6;
	margin: 0;
	letter-spacing: -0.04em;
}

/*for your prosperity*/
body > div > div.image > p:nth-child(5)
{
	font-size: 19.643px;
	font-family: "MyriadPro-BoldCond";
	color: rgb(254, 137, 0);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.758;
	text-align: left;
	position: absolute;
	left: 590px;
  top: 122px;
	z-index: 6;
	letter-spacing: -0.04em;
	margin: 0;
}

body > div > div.image > div /*hr*/
{
	position: absolute;
	left: 583px;
	top: 132px;
	width: 195px;
}
body > div > div.image > div > hr
{
	width: 186px;
	color: #737576;
}

/*button details*/
body > div > div.image > button
{
	background-image: url("../img/button.png");
	width: 81px;
	height: 17px;
	z-index: 6;
	position: absolute;
	left: 647px;
 	top: 151px;
 	border-radius: 3px;
 	border: none;
 	font-size: 11px;
	font-family: "trebuchet-ms-58aded5ee3052";
	color: rgb(255, 255, 255);
	line-height: 1.273;
	text-align: right;
	padding-right: 15px;
  cursor: pointer;
}

.orange_block
{
	width: 223px;
	height: 94px;
	background-image: url("../img/orange_block.png");
	position: absolute;
	left: 0px;
  top: 329px;
  z-index: 5;
}

.orange_block>img
{
  position: absolute;
  top: 18px;
  left: 44px;
  z-index: 6;
}

/*support info*/
.orange_block>p:first-of-type
{
  font-size: 21.826px;
  font-family: "MyriadPro-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.682;
  text-align: left;
  position: absolute;
  left: 81px;
  top: 19px;
  z-index: 6;
  margin: 0;
  letter-spacing: -0.04em;
}

/*24/7 info desk*/
.orange_block>p:nth-of-type(2)
{
  font-size: 10px;
  font-family: "Tahoma";
  color: rgb(254, 187, 106);
  text-transform: uppercase;
  line-height: 1.052;
  text-align: left;
  position: absolute;
  left: 81px;
  top: 34px;
  z-index: 6;
  margin: 0;
  letter-spacing: 0.02em;
}

.orange_block>button
{
  background-image: url("../img/button2.png");
  position: absolute;
  left: 122px;
  top: 61px;
  width: 81px;
  height: 17px;
  z-index: 6;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: rgb(255, 255, 255);
  line-height: 17px;
  text-align: center;
}


.orange_block_add
{
  background-image: url("../img/orange_block_add.png");
  width: 552px;
  height: 128px;
  position: absolute;
  left: 223px;
  top: 329px;
  z-index: 4;
}

.orange_block_add>span:first-of-type
{
  font-size: 31px;
  font-family: "MyriadPro-LightCond";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.455;
  text-align: left;
  position: absolute;
  left: 131px;
  top: 27px;
  z-index: 6;
  letter-spacing: -0.008em;
}

.orange_block_add>span:nth-of-type(2)
{
  font-size: 31px;
  font-family: "MyriadPro-Light";
  color: #2e2e2e;
  line-height: 0.455;
  text-align: left;
  position: absolute;
  left: 347px;
  top: 27px;
  z-index: 6;
  letter-spacing: -0.025em;
}

.orange_block_add>span:nth-of-type(3)
{
  font-size: 10px;
  font-family: "Tahoma";
  color: rgb(254, 187, 106);
  text-transform: uppercase;
  line-height: 1.052;
  text-align: left;
  position: absolute;
  left: 135px;
  top: 45px;
  z-index: 6;
}

.orange_block_add>span:nth-of-type(4)
{
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: rgb(255, 255, 255);
  line-height: 1.273;
  text-align: left;
  position: absolute;
  left: 135px;
  top: 67px;
  width: 379px;
  height: 38px;
  z-index: 6;
letter-spacing: -0.001em;
}

.orange_block_add>span:nth-of-type(4)>a
{
  color: #2e2e2e;
  text-decoration: none;
}

.clock
{
  position: absolute;
  left: 223px;
  top: 340px;
  z-index: 7;
}

.left_column
{
  width: 193px;
  position: absolute;
  left: 30px;
  top: 423px;
}

.left_column>span:first-of-type
{
  font-size: 20px;
  font-family: "MyriadPro-BoldSemiCn";
  color: rgb(109, 109, 109);
  font-weight: bold;
  line-height: 0.682;
  text-align: left;
  position: absolute;
  top: 32px;
  z-index: 6;
  text-transform: uppercase;
}

.left_column>hr:first-of-type
{
  color: #737576;
  position: absolute;
  top: 45px;
  z-index: 6;
  width: 193px;
  color: #d5d5d5;
}

.left_column>ul:first-of-type
{
  list-style-image: url(../img/marker.png);
  position: absolute;
  top: 71px;
  left: 0px;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  list-style-position: inside;
}

.left_column>ul:first-of-type>li
{
  margin-bottom: 8px;
}

.left_column>ul:first-of-type>li>p
{
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: "TrebuchetMS";
  line-height: 1.455;
  text-align: left;
  z-index: 6;
  display: inline-block;
  letter-spacing: -0.025em;
}

.left_column>ul:first-of-type>li>p:nth-of-type(1),
.left_column>ul>li>p:nth-of-type(3),
.left_column>ul>li>p:nth-of-type(5)
{
  color: #fe8b00;
}

.left_column>ul:first-of-type>li>p:nth-of-type(2),
.left_column>ul>li>p:nth-of-type(4),
.left_column>ul>li>p:nth-of-type(6)
{
  color: #848484;
}

.left_column > ul:first-of-type > li> p > a
{
  color: #2e2e2e;
  text-decoration: none;
}

.left_column>p:nth-child(4)
{
  font-size: 20px;
  font-family: "MyriadPro-BoldSemiCn";
  color: rgb(109, 109, 109);
  font-weight: bold;
  line-height: 0.682;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 270px;
  z-index: 6;
  margin: 0;
  padding: 0;
}

.left_column>hr:nth-of-type(2)
{
  color: #737576;
  position: absolute;
  top: 290px;
  z-index: 6;
  width: 193px;
  color: #d5d5d5;
  margin: 0;
  padding: 0;
}

.left_column>ul:nth-of-type(2)
{
  list-style-image: url(../img/marker2.png);
  font-size: 11px;
  font-family: "TrebuchetMS";
  line-height: 2.727;
  text-align: left;
  position: absolute;
  top: 298px;
  left: 0px;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  list-style-position: inside;
}

.left_column>ul:nth-of-type(2)>li
{
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.left_column>ul:nth-of-type(2)>li>p
{
  margin: 0;
  padding: 0;
  display: inline-block;
  letter-spacing: -0.025em;
  color: #2e2e2e;
}

.right_column
{
  width: 487px;
  position: absolute;
  top: 459px;
  left: 258px;
}

.right_column>p:first-of-type
{
  font-size: 35px;
  font-family: "MyriadPro-BoldSemiCn";
  color: #2e2e2e;
  line-height: 0.413;
  text-align: left;
  position: absolute;
  top: 40px;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  letter-spacing: -0.029em;
}

.right_column>p:first-of-type>span
{
  font-family: "MyriadPro-LightSemiCn";
  color: #949494;
}

.right_column>hr:first-of-type
{
  color: #d5d5d5;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 65px;
  width: 487px;
}

.right_column>p:nth-of-type(2)
{
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: #a0a09c;
  line-height: 1.455;
  text-align: left;
  position: absolute;
  top: 74px;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.right_column>p:nth-of-type(2)>span:first-of-type
{
  color: rgb(254, 139, 0);
  font-weight: bold;
  letter-spacing: 0.037em;
}

.right_column>p:nth-of-type(2)>span:nth-of-type(2)
{
  color: #6d6d6d;
  text-decoration: underline;
}

.right_column>p:nth-of-type(2)>a
{
  color: #2e2e2e;
  text-decoration: none;
}

.right_column>hr:nth-of-type(2)
{
  color: #d5d5d5;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 215px; 
  width: 487px;
}

.Services
{
  width: 229px;
  position: absolute;
  top: 189px;
}

.Solutions
{
  width: 226px;
  position: absolute;
  top: 189px;
  left: 260px;
}

.Services>p:first-of-type,
.Solutions>p:first-of-type
{
  font-size: 33px;
  font-family: "MyriadPro-BoldSemiCn";
  color: rgb(46, 46, 46);
  font-weight: bold;
  line-height: 0.413;
  text-align: left;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.Services>img
{
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.Services>img:first-of-type,
.Services>p:nth-of-type(2)
{
  top: 38px;
}

.Services>img:nth-of-type(2),
.Services>p:nth-of-type(3)
{
  top: 77px;
}

.Services>img:nth-of-type(3),
.Services>p:nth-of-type(4)
{
  top: 118px;
}

.Services>img:nth-of-type(4),
.Services>p:nth-of-type(5)
{
  top: 159px;
}

.Services>p:not(:first-of-type)
{
  font-size: 11px;
  font-family: "TrebuchetMS";
  line-height: 1.455;
  text-align: left;
  color: #a0a09c;
  z-index: 6;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  position: absolute;
  left: 46px;
  letter-spacing: 0.03em;
}

.Services>p>span
{
  color: rgb(46, 46, 46);
  font-weight: bold;
}

.Services>button,
.Solutions>button
{
  background-image: url("../img/read_more.png");
  position: absolute;
  left: 148px;
  top: 211px;
  width: 81px;
  height: 17px;
  z-index: 6;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: rgb(255, 255, 255);
  line-height: 17px;
  text-align: center;
}

.Solutions>img
{
  border-radius: 5px;
  position: absolute;
  top: 38px;
  float: left;
}

.Solutions>button
{
  left: 145px;
}

.Solutions>p:nth-of-type(2)
{
  float: left;
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: rgb(109, 109, 109);
  text-decoration: underline;
  line-height: 1.455;
  text-align: left;
  position: absolute;
  left: 116px;
  top: 40px;
  width: 110px;
  height: 59px;
  z-index: 6;
  margin:0;
  padding:0;
  letter-spacing: -0.01em;
}

.Solutions>p:nth-of-type(3)
{
  position: absolute;
  top: 118px;
  margin:0;
  padding:0;
  font-size: 11px;
  font-family: "TrebuchetMS";
  color: #a0a09c;
  line-height: 1.455;
  text-align: left;
  width: 221px;
  height: 74px;
  z-index: 75;
}

.Solutions>p:nth-of-type(3)>span:nth-of-type(1)
{
  color: rgb(254, 139, 0);
  font-weight: bold;
  letter-spacing: 0.03em;
}

.Solutions>p:nth-of-type(3)>span:nth-of-type(2)
{
  text-decoration: underline;
  color: #6d6d6d;
}

.footer
{
  position: absolute;
  top: 895px;
  width: 775px;
  height: 55px;
  background-color: #eaeaea;
  z-index: 6;
}

.footer>ul
{
  list-style-type: none;
  margin:0;
  padding:0;
  position: absolute;
  left: 222px;
  top: 10px;
}

.footer>ul>li
{
  text-align: center;
  display: inline-block;
border
}

.footer>ul>li>a,
.footer>div
{
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-size: 10px;
  font-family: "Tahoma";
  color: rgb(106, 106, 106);
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer>ul>li:not(:last-child)
{
  border-right-style: solid;
  border-width: 1px;
  border-right-color: rgb(106, 106, 106);
  padding: 0 3px 2px 0;
  z-index: 7;
  vertical-align: middle;
}

.footer>div
{
  position: absolute;
  top: 29px; 
  left: 301px;
  text-transform: none;
}