.main{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

.limiter
{
    width: 300px;
    height: 10px;
    background-color: darkgrey;
    position: absolute;
    top: 45px;
    left: 100px;
}

.zipper
{
    width: 10px;
    height: 25px;
    background-color: deepskyblue;
    border-radius: 5px;
    position: absolute;
    top: 38px;
    left: 100px;

}