.button_parce
{
    position: absolute;
    top: 15px;
    left: 430px;
    border-radius: 3px;
    border: none;
    background-color: rgb(255,131,0);
    color: white;
    width: 200px;
    height: 33px;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
}

.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(157, 164, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.parced_data
{
    position: fixed;
    width: 500px;
    height: 500px;
    border-radius: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    z-index: 1001;
    overflow: auto;
    text-align: left;
    padding: 5px;
}
.parced_data>span{
    font-weight: bold;
}

.parced_data>img
{
    position: fixed;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: 250px;
}