.main{
    position: relative;
    margin: auto;
    width: 1000px;
}
form#reg,
form#authorization
{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    padding: 15px;
}

form#authorization
{
    left: 500px;
}

#all_users, #authorization_result
{
    color: blue;
    min-height: 20px;
    border: 1px dashed black;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#all_users{
    width: 330px;
}

#authorization_result{
    width: 275px;
}

input{
    border-radius: 10%;
    display: block;
}
input[type="text"],
input[type="password"],
input[type="email"]
{
    width: 200px;
}

#reg>input
{
    display: inline-block;
}

.error
{
    color: red;
    font-style: italic;
}