body
{
    width: 1000px;
}

.main
{
    margin: auto;
    position: relative;
    width: 500px;
    display: block;

}

input
{
    display: inline-block;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.55);
    border-radius: 15%;
    margin: 2% 2% 2% 2%;
    width: 70px;
    align-items:center;
    cursor: pointer;
}

.buttons
{
    width: 250px;
    margin: auto;
    display: block;
}

.news, .colored
{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
}

.colored
{
    display: block;
    transition: 1s;
}

.fly
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    border-radius: 50%;
    display: block;
}