.game_field{
    border: 1px solid black;
}

img, img.col-lg-3, img.col-md-3, img.col-xs-3{
    padding-right: 0;
    padding-left: 0;
}

.play, .stop{
    width: 8%;
    height: 8%;
}

.clicks{
    margin-left: 10%;
    margin-top: 1.5%;
    font-size: 150%;
}

.game_over{
    margin-left: 12%;
    margin-top: 0.5%;
    width: 20%;
    height: 20%;
    display: none;
}

.about{
    margin-left: 2%;
    margin-top: 1%;
    width: 8%;
    height: 8%;
}

