h2
{
	font-family: Arial regular;
	/*color: #5a001b;*/
background: linear-gradient(#420011, #6d0024);  /* подробнее про градиенты */ 
-webkit-background-clip: text;  /* подробнее про background-clip */ 
color: transparent;
	/*color: */
	margin-left: 1.5%;	

}

.img1
{
	float: left;
	padding-left: 1%;
	padding-right: 3%;
}

.text_col
{
	font-size: 1em;
	font-family: Georgia regular;
	color: #5f5b50;
	margin-left: 15%;
	margin-right: 40%;
	margin-top: 2%;
}

p
{
	font-size: 1em;
	color: #5f5b50;
	margin-right: 40%;
	margin-top: 2%;
	margin-left: 1.5%;
}